# Auto detect text files and perform LF normalization
* text=auto

/doc linguist-detectable=false
/src/fennecs.benchmarks linguist-detectable=false
/src/cookbook linguist-detectable=false
/src/demos linguist-detectable=false

*.html linguist-detectable=false
*.mts linguist-detectable=false
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.css linguist-detectable=false
*.ps1 linguist-detectable=false
